.App {
  display: grid;
  grid-template-columns: 640px auto;
  grid-template-rows: 320px auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;

}

#screen-controls {
  grid-column: 1;
  grid-row: 1;
}
